
{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.homepage.footer }}
<footer class="footer section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<h2 class="text-white mb-3">{{ .title | markdownify }}</h2>
				<p class="text-white-50">{{ .content | markdownify }}</p>

				<!-- <form action="#" class="sub-form mt-4 mb-3">
					<input type="text" class="form-control" placeholder="Put your email address">
					<a href="#" class="btn btn-secondary btn-rounded mt-3">Subscribe now</a>
				</form>
				<p class="mt-3 text-white-50">We will not spam at your inbox .Don't panic</p> -->

				<ul class="list-inline footer-socails">
					{{ range .social }}
					<li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
					{{ end }}
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 text-center mt-5 ">
				<p class="copy border-top pt-4 text-white-50 mb-0">{{ .copyright | markdownify }}</p>
			</div>
		</div>
	</div>
</footer>
{{ end }}

<!-- search index -->
<script>
	var indexURL = {{ "index.json" | absURL }}
</script>
  
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>