<!-- Navigation Start -->
<header class="header-bar">
  <nav class="navbar navbar-expand-lg main-nav">
    <div class="container">
      <!-- LOGO BAR -->
      <a class="navbar-brand" href="{{ .Site.BaseURL }}/{{.Site.Language.Lang}}">
        <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class="img-fluid logo-b">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="tf-ion-android-menu"></span>
      </button>
      <!--  MAIN MENU  -->
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}/{{.Site.Language.Lang}}">{{.Site.Params.Home}}</a>
          </li>
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}

        </ul>
        <ul class="navbar-nav ml-auto">

          {{ if .Site.IsMultiLingual }}
          <li class="nav-item dropdown  ml-auto">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" width="14px"
                class="mr-2">
                {{if eq .Site.Language.Lang  "fr"}}
                <rect style="fill:#F0F0F0;" width="512" height="512" />
                <rect style="fill:#0052B4;" width="170.663" height="512" />
                <rect x="341.337" style="fill:#D80027;" width="170.663" height="512" />
                {{end}}
                {{if eq .Site.Language.Lang  "ar"}}
                <rect x="0.003" y="0.017" style="fill:#496E2D;" width="512" height="511.989" />
                <rect x="256.003" style="fill:#F0F0F0;" width="256" height="512" />
                <g>
                  <polygon style="fill:#D80027;" points="319.392,200.757 295.762,233.321 257.493,220.911 281.16,253.446 257.532,286.008
                      295.789,273.553 319.455,306.087 319.431,265.856 357.687,253.4 319.417,240.991   " />
                  <path style="fill:#D80027;"
                    d="M281.405,337.391c-44.951,0-81.391-36.44-81.391-81.391s36.44-81.391,81.391-81.391
                        c14.015,0,27.203,3.544,38.717,9.783c-18.062-17.663-42.764-28.565-70.022-28.565c-55.324,0-100.174,44.85-100.174,100.174
                        s44.85,100.174,100.174,100.174c27.258,0,51.959-10.902,70.022-28.565C308.607,333.847,295.42,337.391,281.405,337.391z" />
                  {{end}}
                  {{if eq .Site.Language.Lang  "en"}}
                  <rect style="fill:#F0F0F0;" width="512" height="512" />
                  <polygon style="fill:#D80027;" points="0,304 208,304 208,512 304,512 304,304 512,304 512,208 304,208 304,0 208,0 208,208 0,208
                          " />
                  <g>
                    <polygon style="fill:#0052B4;" points="406.92,333.913 512,438.993 512,333.913   " />
                    <polygon style="fill:#0052B4;" points="333.913,333.913 512,512 512,461.64 384.273,333.913   " />
                    <polygon style="fill:#0052B4;" points="464.564,512 333.913,381.336 333.913,512  " />
                  </g>
                  <polygon style="fill:#F0F0F0;" points="333.913,333.913 512,512 512,461.64 384.273,333.913 " />
                  <polygon style="fill:#D80027;" points="333.913,333.913 512,512 512,461.64 384.273,333.913 " />
                  <g>
                    <polygon style="fill:#0052B4;" points="80.302,333.913 0,414.215 0,333.913   " />
                    <polygon style="fill:#0052B4;" points="178.084,356.559 178.084,511.997 22.658,511.997   " />
                  </g>
                  <polygon style="fill:#D80027;" points="127.724,333.916 0,461.641 0,512 0,512 178.084,333.916 " />
                  <g>
                    <polygon style="fill:#0052B4;" points="105.08,178.087 0,73.007 0,178.087  " />
                    <polygon style="fill:#0052B4;" points="178.087,178.087 0,0 0,50.36 127.727,178.087  " />
                    <polygon style="fill:#0052B4;" points="47.436,0 178.087,130.663 178.087,0   " />
                  </g>
                  <polygon style="fill:#F0F0F0;" points="178.087,178.087 0,0 0,50.36 127.727,178.087 " />
                  <polygon style="fill:#D80027;" points="178.087,178.087 0,0 0,50.36 127.727,178.087 " />
                  <g>
                    <polygon style="fill:#0052B4;" points="431.698,178.087 512,97.785 512,178.087   " />
                    <polygon style="fill:#0052B4;" points="333.916,155.441 333.916,0.003 489.342,0.003  " />
                  </g>
                  <polygon style="fill:#D80027;" points="384.276,178.084 512,50.359 512,0 512,0 333.916,178.084 " />
                  {{end}}
              </svg>
              {{.Site.Language.LanguageName}}
            </a>
            <div class="dropdown-menu">
              {{ range $.Site.Home.AllTranslations }}
              <a class="dropdown-item" href="{{ .Permalink }}">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" width="14px"
                  class="mr-2">
                  {{ if eq .Language.Lang  "fr"}}
                  <rect style="fill:#F0F0F0;" width="512" height="512" />
                  <rect style="fill:#0052B4;" width="170.663" height="512" />
                  <rect x="341.337" style="fill:#D80027;" width="170.663" height="512" />
                  {{end}}
                  {{if eq .Language.Lang  "ar"}}
                  <rect x="0.003" y="0.017" style="fill:#496E2D;" width="512" height="511.989" />
                  <rect x="256.003" style="fill:#F0F0F0;" width="256" height="512" />
                  <g>
                    <polygon style="fill:#D80027;" points="319.392,200.757 295.762,233.321 257.493,220.911 281.16,253.446 257.532,286.008
                      295.789,273.553 319.455,306.087 319.431,265.856 357.687,253.4 319.417,240.991   " />
                    <path style="fill:#D80027;"
                      d="M281.405,337.391c-44.951,0-81.391-36.44-81.391-81.391s36.44-81.391,81.391-81.391
                        c14.015,0,27.203,3.544,38.717,9.783c-18.062-17.663-42.764-28.565-70.022-28.565c-55.324,0-100.174,44.85-100.174,100.174
                        s44.85,100.174,100.174,100.174c27.258,0,51.959-10.902,70.022-28.565C308.607,333.847,295.42,337.391,281.405,337.391z" />
                    {{end}}
                    {{if eq .Language.Lang  "en"}}
                    <rect style="fill:#F0F0F0;" width="512" height="512" />
                    <polygon style="fill:#D80027;" points="0,304 208,304 208,512 304,512 304,304 512,304 512,208 304,208 304,0 208,0 208,208 0,208
                          " />
                    <g>
                      <polygon style="fill:#0052B4;" points="406.92,333.913 512,438.993 512,333.913   " />
                      <polygon style="fill:#0052B4;" points="333.913,333.913 512,512 512,461.64 384.273,333.913   " />
                      <polygon style="fill:#0052B4;" points="464.564,512 333.913,381.336 333.913,512  " />
                    </g>
                    <polygon style="fill:#F0F0F0;" points="333.913,333.913 512,512 512,461.64 384.273,333.913 " />
                    <polygon style="fill:#D80027;" points="333.913,333.913 512,512 512,461.64 384.273,333.913 " />
                    <g>
                      <polygon style="fill:#0052B4;" points="80.302,333.913 0,414.215 0,333.913   " />
                      <polygon style="fill:#0052B4;" points="178.084,356.559 178.084,511.997 22.658,511.997   " />
                    </g>
                    <polygon style="fill:#D80027;" points="127.724,333.916 0,461.641 0,512 0,512 178.084,333.916 " />
                    <g>
                      <polygon style="fill:#0052B4;" points="105.08,178.087 0,73.007 0,178.087  " />
                      <polygon style="fill:#0052B4;" points="178.087,178.087 0,0 0,50.36 127.727,178.087  " />
                      <polygon style="fill:#0052B4;" points="47.436,0 178.087,130.663 178.087,0   " />
                    </g>
                    <polygon style="fill:#F0F0F0;" points="178.087,178.087 0,0 0,50.36 127.727,178.087 " />
                    <polygon style="fill:#D80027;" points="178.087,178.087 0,0 0,50.36 127.727,178.087 " />
                    <g>
                      <polygon style="fill:#0052B4;" points="431.698,178.087 512,97.785 512,178.087   " />
                      <polygon style="fill:#0052B4;" points="333.916,155.441 333.916,0.003 489.342,0.003  " />
                    </g>
                    <polygon style="fill:#D80027;" points="384.276,178.084 512,50.359 512,0 512,0 333.916,178.084 " />
                    {{end}}
                </svg>
                {{ .Language.LanguageName }}</a>
              {{ end }}
            </div>
          </li>
          {{ end }}
        </ul>
        {{ if .Site.Params.navBtn.enable }}
        {{ "<!-- get start btn -->" | safeHTML }}
        <a href="{{ .Site.Params.navBtn.link | absLangURL }}"
          class="btn btn-secondary btn-rounded mt-3 mt-lg-0">{{ .Site.Params.navBtn.label }}</a>
        {{ end }}
      </div>
    </div>
  </nav>
</header>
<!-- Navigation End -->